@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BSuit</h1>
    <h4>Brickwork's ERP</h4>
    <p>Learn about <a href="https://brickworkindia.com/">building ERP with Brickwork India Pvt. Ltd.</a>.</p>
</div>
